<header class="main-header " style="background-image: url(assets/img/image_13.png)">

</header>
<main>
  <div>
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-3">
          <aside class="sidebar_menu" >
            <ul *ngFor='let pro of product' class="list-group">
              <a class="list-group-item-action list-group-item-secondary list-group-item "
                href="/listproduct">{{pro.idKind}}</a>
            </ul>
          </aside>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 border_right_before">
          <div class="block_menu_item" *ngFor='let pro of product'>
            <h3 class="block_menu_item_title"><span class="line_after_heading section_heading">{{pro.idKind}}</span></h3>
            <div class="flex_wrap display_flex menu_lists">
              <div class="menu_item">
                <div class="menu_item_image">
                  <a href="" title="">
                    <img
                      src="./assets/img/{{pro.image}}"
                     ></a>
                  <div class="new"><img class="svg-new" src="" alt=""><span>MỚI</span></div>
                </div>
                <div class="menu_item_info bg_white">
                  <h3><a href="" title="Sô cô la Gừng">{{pro.name}}</a></h3>
                  <div class="price_product_item">{{pro.price}}đ</div><a class="menu_item_action animate_btn" href=""
                    target="_blank" title="Mua Ngay">Mua ngay</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="column col-9">
          <div class="card" *ngFor='let pro of product'>
            <div class="card-img">
              <img src="./assets/img/{{pro.image}}">
            </div>
            <div class="card-info">
              <h4>{{pro.name}}</h4>
              <div class="price_product_item">{{pro.price}} đ</div>
              <a class="btn-price" href="" target="_blank" title="Mua Ngay">Mua ngay</a>
              <a class="btn-tht" href="">Tìm hiểu thêm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div>
  <br>
  <br>
</div>
<footer class="site-footer clearfix">
  <a href="#top" id="back-to-top" class="back-top"></a>
  <div class="text-center">
    <a href="index.html">THE END</a> &copy; 2016<br />
    Free HTML Template by <a href="/home">WowThemes.net</a>
  </div>
</footer>