<body>
  <div>
    <header class="main-header " style="background-image: url(assets/img/image_10.png)">
      <div class="vertical">
        <div class="main-header-content inner">
          <h1 class="page-title">KIM Coffee</h1>
          <div class="entry-title-divider">
            <span></span><span></span><span></span>
          </div>
          <h2 class="page-description">Thoughts, reviews and ideas since 1999.</h2>
        </div>
      </div>
      <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll
          Down</span></a>
    </header>
    <main id="content" class="content" role="main">
      <div class="grid" >
        <div>
          <p>MENU</p>
          <a href="/listproduct">Danh sach san pham</a>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="card-img">
              <img src="//product.hstatic.net/1000075078/product/ts-macca-tran-chau-trang_2116ef0b88fe448492f9994611f689ec_large.jpg">
              </div>
              <div class="card-info">
                <h4>TRÀ SỮA MẮC CA TRÂN CHÂU</h4>
                <div class="price_product_item">50,000 đ</div>
                
                <a class="btn-tht" href="/listproduct">See More ----</a>
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <div class="card-img">
              <img src="//product.hstatic.net/1000075078/product/tra-dao-cam-sapng_58268b7877cd4209b8fc3fa1d4909511_large.jpg">
              </div>
              <div class="card-info">
                <h4>TRÀ ĐÀO CAM SẢ</h4>
                <div class="price_product_item">50,000 đ</div>
                <a class="btn-tht" href="/listproduct">See More ----</a>
              </div>
            </div>
          </div>
          
      
          
          <div class="column">
            <div class="card">
              <div class="card-img">
              <img src="//product.hstatic.net/1000075078/product/latte-nong_ffcd92de11f74937bce4197823246d07_large.jpg">
              </div>
              <div class="card-info">
                <h4>Tra sau tran chau</h4>
                <div class="price_product_item">50,000 đ</div>
                <a class="btn-tht" href="/listproduct">See More ----</a>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <div class="card-img">
              <img src="//product.hstatic.net/1000075078/product/latte-nong_ffcd92de11f74937bce4197823246d07_large.jpg">
              </div>
              <div class="card-info">
                <h4>Tra sau tran chau</h4>
                <div class="price_product_item">50,000 đ</div>
                <a class="btn-tht" href="/listproduct">See More ----</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
    <div>
      <br>
    </div>
    <footer class="site-footer clearfix">
      <a href="#top" id="back-to-top" class="back-top"></a>
      <div class="text-center">
        <a href="index.html">THE END</a> &copy; 2016<br />
        Free HTML Template by <a href="/home">WowThemes.net</a>
      </div>
    </footer>
  </div>
</body>